* {
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

h1, h2 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;

  width: 300%;
  height: 100%;

  background-color: rgb(11, 19, 19);

  transition: transform 1.2s;
}

.main-container-2 {
  transform: translateX(-33.33%);
}

.main-container-3 {
  transform: translateX(-66.66%);
}

.home-container, .ww-container, .ww-subject-container {
  display: flex;
  align-items: center;

  position: relative;

  width: 33.33%;
  height: 100%;
}

.home-container, .ww-container {
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  padding-bottom: 4vw;
}

.top-container, .bottom-container {
  width: 100%;
  height: auto;
}

.top-headers-container, .bottom-headers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: auto;
  height: 100%;

  padding-left: 10%;
  padding-right: 10%;
}

.top-header, .bottom-header {
  width: 100%;
  text-align: center;
  font-size: 2vw;
}

.top-subheader, .bottom-subheader {
  width: 100%;
  text-align: center;
}

.home-middle-container {
  width: 100%;
  height: auto;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 100%;
}

.home-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
  z-index: 1;
  
  width: 10vw;
  height: 10vw;

  margin: 5vw;

  padding: 2vw;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.3vw;
  border-color: white;
  border-bottom-width: 0.6vw;

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(255, 255, 255, 0.3);

  transition: border-color 0.3s, box-shadow 0.3s, border-bottom-width 0.3s, margin-top 0.3s;
}

.home-button:hover {
  border-color: rgb(102, 206, 238);

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);

  cursor: pointer;
}

.home-button:hover .home-button-header {
  color: rgb(102, 206, 238);
}

.home-button:hover .home-button-icon {
  background-color: rgb(102, 206, 238);
}

.home-button-pressed {
  border-bottom-width: 0.3vw;
  margin-top: 5.3vw;
  
  border-color: rgba(102, 206, 238, 0.5) !important;
  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);
}

.home-button-pressed .home-button-header {
  color: rgb(102, 206, 238, 0.5) !important;
}

.home-button-pressed .home-button-icon {
  background-color: rgb(102, 206, 238, 0.5) !important;
}

.home-button-top-container {
  display: flex;
  justify-content: center;

  width: 100%;
  flex: 1;

  margin-bottom: 2vw;

  box-sizing: border-box;
}

.home-button-icon {
  width: 100%;
  height: 100%;
  
  mask-size: contain;

  background-color: white;

  transition: background-color 0.3s;
}

.ww-home-button .home-button-icon {
  mask: url("images/binoculars.svg") no-repeat center;
}

.ul-home-button .home-button-icon {
  mask: url("images/link.svg") no-repeat center;
}

.home-button-bottom-container {
  width: 100%;
  height: auto;
}

.home-button-header {
  width: 100%;

  text-align: center;
  font-size: 1vw;

  transition: color 0.3s;
}

.ripple {
  position: absolute;
  transform: scale(0);

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.logo-container {
  width: auto;
  height: 20vw;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.wave-container {
  display: flex;
  justify-content: end;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
}

.wave-pattern {
  width: 100%;
}

.copyright-subheader {
  position: absolute;
  left: 0.8vw;
  bottom: 0.8vw;

  font-style: italic;
  font-weight: 100;

  opacity: 0;

  transition: opacity 0.3s;
}

.copyright-subheader a {
  color: white;
}

.wave-container:hover .copyright-subheader {
  opacity: 1 !important;
}

.ww-container {
  gap: 3vw;

  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.ww-middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;
}

.ww-button-container {
  display: flex;
  flex-direction: column;

  gap: 2vw;
}

.ww-button {
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;
  z-index: 1;

  width: 100% - 2vw;
  height: auto;

  padding: 1vw;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.3vw;
  border-color: white;
  border-bottom-width: 0.6vw;

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(255, 255, 255, 0.3);

  transition: border-color 0.3s, box-shadow 0.3s, border-bottom-width 0.3s, margin-top 0.3s;
}

.ww-button-header {
  width: 100%;

  text-align: center;
  font-size: 1vw;
  
  transition: color 0.3s;
}

.ww-button:hover {
  border-color: rgb(102, 206, 238);

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);

  cursor: pointer;
}

.ww-button:hover .ww-button-header {
  color: rgb(102, 206, 238);
}

.ww-button-pressed {
  border-bottom-width: 0.3vw;
  margin-top: 0.3vw;

  border-color: rgba(102, 206, 238, 0.5) !important;
  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);
}

.ww-button-pressed .ww-button-header {
  color: rgb(102, 206, 238, 0.5) !important;
}

.back-button {
  position: absolute;
  bottom: 4vw;
  left: 4vw;
  overflow: hidden;
  z-index: 1;

  width: auto;
  height: auto;
  padding: 1vw;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.3vw;
  border-color: white;
  border-bottom-width: 0.6vw;

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(255, 255, 255, 0.3);
  
  transition: border-color 0.3s, box-shadow 0.3s, border-bottom-width 0.3s, margin-top 0.3s;
}

.back-button-header {
  width: 100%;

  text-align: center;
  font-size: 1.4vw;
  
  transition: color 0.3s;
}

.back-button:hover {
  border-color: rgb(238, 111, 102);

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(238, 111, 102, 0.3);

  cursor: pointer;
}

.back-button:hover .back-button-header {
  color: rgb(238, 111, 102);
}

.back-button-pressed {
  border-bottom-width: 0.3vw;
  margin-top: 0.3vw;

  border-color: rgba(238, 111, 102, 0.5) !important;
  box-shadow: 0vw 0vw 3vw 0.8vw rgba(238, 111, 102, 0.3);
}

.back-button-pressed .back-button-header {
  color: rgb(238, 111, 102, 0.5) !important;
}

.ww-subject-container {
  display: flex;
  flex-direction: column;

  height: fit-content;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;

  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;

  box-sizing: border-box;
}

.ww-subject-container-hidden {
  display: none;
}

.ww-info-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;

  width: 100%;
}

.ww-info-box {
  width: 100%;

  padding: 3%;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.3vw;
  border-color: white;
  box-sizing: border-box;

  background-color: rgb(33, 73, 85);
  box-shadow: 0vw 0vw 10vw 5vw rgb(23, 52, 61) inset;
}

.ww-info-box-header {
  width: 100%;

  font-size: 2vw;
}

.ww-info-box-subheader {
  width: 100%;
  
  font-size: 1.25vw;
  font-weight: 600;
}

.ww-info-box-paragraph {
  padding-top: 1.5%;

  font-size: 1.25vw;
}

.ww-detail-container {
  display: flex;
  flex-direction: row;
  gap: 3vw;

  width: 100%;
  height: auto;
}

.ww-detail {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.ww-detail-icon {
  width: 1.5vw;
  height: 1.5vw;
}

.ww-detail-paragraph {
  height: auto;

  font-size: 1.25vw;
  font-weight: 600;
}

.gradient {
  position: sticky;
  bottom: 0vw;

  width: 100%;
  height: 9vw;
  background-image: linear-gradient(to bottom, rgba(11, 19, 19, 0), rgba(11, 19, 19, 0.7), rgba(11, 19, 19, 1));
}

.ww-subject-back-button {
  top: 0;
  left: 0;

  width: auto;
  height: fit-content;
  
  background-color: rgb(11, 19, 19);
}