* {
  margin: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: row;

  width: 300%;
  height: 100%;

  background-color: rgb(11, 19, 19);

  transition: transform 1.2s;
}

.main-container-2 {
  transform: translateX(-33.33%);
}

.main-container-3 {
  transform: translateX(-66.66%);
}

.home-container, .ww-container, .ww-ia-container {
  display: flex;
  align-items: center;

  position: relative;

  width: 33.33%;
  height: 100%;
}

.home-middle-container {
  width: 100%;
  height: auto;
}

.home-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 100%;
}

.home-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
  
  width: 15vw;
  height: 15vw;

  margin-left: 5vw;
  margin-right: 5vw;

  padding: 2vw;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.5vw;
  border-color: white;
  border-bottom-width: 1vw;

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(255, 255, 255, 0.3);

  transition: border-color 0.3s, box-shadow 0.3s, border-bottom-width 0.3s, margin-top 0.3s;
}

.home-button:hover {
  border-color: rgb(102, 206, 238);

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);

  cursor: pointer;
}

.home-button:hover .home-button-header {
  color: rgb(102, 206, 238);
}

.home-button:hover .home-button-icon {
  background-color: rgb(102, 206, 238);
}

.home-button-pressed {
  border-bottom-width: 0.5vw;
  margin-top: 0.5vw;
  
  border-color: rgba(102, 206, 238, 0.5) !important;
  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);
}

.home-button-pressed .home-button-header {
  color: rgb(102, 206, 238, 0.5) !important;
}

.home-button-pressed .home-button-icon {
  background-color: rgb(102, 206, 238, 0.5) !important;
}

.home-button-top-container {
  display: flex;
  justify-content: center;

  width: 100%;
  flex: 1;

  margin-bottom: 2vw;

  box-sizing: border-box;
}

.home-button-icon {
  width: 100%;
  height: 100%;
  
  mask-size: contain;

  background-color: white;

  transition: background-color 0.3s;
}

.ww-home-button .home-button-icon {
  mask: url("images/binoculars.svg") no-repeat center;
}

.ul-home-button .home-button-icon {
  mask: url("images/link.svg") no-repeat center;
}

.home-button-bottom-container {
  width: 100%;
  height: auto;
}

.home-button-header {
  width: 100%;

  text-align: center;
  font-size: 1.4vw;

  transition: color 0.3s;
}

.ripple {
  position: absolute;
  transform: scale(0);

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ww-container {
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.ww-middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.ww-button {
  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  width: 100% - 2vw;
  height: 3vw;

  margin-top: 3vw;
  margin-bottom: 3vw;

  padding: 1vw;

  border-style: solid;
  border-radius: 1vw;
  border-width: 0.5vw;
  border-color: white;
  border-bottom-width: 1vw;

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(255, 255, 255, 0.3);

  transition: border-color 0.3s, box-shadow 0.3s, border-bottom-width 0.3s, margin-top 0.3s;
}

.ww-button-header {
  width: 100%;

  text-align: center;
  font-size: 2vw;
  
  transition: color 0.3s;
}

.ww-button:hover {
  border-color: rgb(102, 206, 238);

  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);

  cursor: pointer;
}

.ww-button:hover .ww-button-header {
  color: rgb(102, 206, 238);
}

.ww-button-pressed {
  border-bottom-width: 0.5vw;
  margin-top: 3.5vw;

  border-color: rgba(102, 206, 238, 0.5) !important;
  box-shadow: 0vw 0vw 3vw 0.8vw rgba(102, 206, 238, 0.3);
}

.ww-button-pressed .ww-button-header {
  color: rgb(102, 206, 238, 0.5) !important;
}